<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="factory" class="com.rabbitmq.client.ConnectionFactory">
        <property name="username" value="guest"/>
        <property name="password" value="guest"/>
        <property name="host" value="localhost"/>
        <property name="virtualHost" value="/"/>
    </bean>
</beans>